<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Apartment Admin Dashboard</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <main class="container mt-4">
        <h1>Login</h1>

        <form method="post" th:action="@{/login}">
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">User name</label>
                <input type="text" class="form-control" id="username" placeholder="Enter user name" name="username">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

        <div th:replace="base :: footer"></div>
        <script th:src="@{/js/main.js}"></script>
</body>
</html>

